<head>
    
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href=""><i class="fa fa-envelope"></i> info@eshopper.com</a></li>
								
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
					<div class="social-icons pull-center">
							<ul class="nav navbar-nav">
								
								<% if user_signed_in? && (current_user.has_role?(:employee) || current_user.has_role?(:vendor)) %>
									<li><a href=""><i class="fa fa-building"></i>You are the <%= current_user.roles.first.name %> of <%= fetch_company[0] %></a></li>
								<%end%>
								
							</ul>
						</div>
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href=""><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="logo pull-left">
              
							<a href="#"><img src="https://i.ibb.co/R34m4Dv/logo.png" alt="" /></a>
						</div>
						
					
					</div>
					
					
					
					<%if user_signed_in? && current_user.has_role?(:admin) %>
						<div class="col-sm-10">
							<div class="shop-menu pull-right">
								<ul class="nav navbar-nav">
									<li> <%= link_to "Account", edit_user_registration_path%></li>
									
									<li><a><i class="fa fa-shopping-bag"></i> Products</a></li>
									
										<li>
										<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"%>
										</li>
										<li>
										
											<a>Welcome <b><%=current_user.email.split("@")[0].capitalize%></b> &nbsp; &nbsp; 
											(<%= current_user.roles.first.name%>)</a>
											
										</li>

								</ul>
							</div>
						</div>
						
						<%elsif user_signed_in? && (current_user.company != nil || current_user.has_role?(:employee)) %>
							<div class="col-sm-10">
							<div class="shop-menu pull-right">
								<ul class="nav navbar-nav">
									<li> <%= link_to "Account", edit_user_registration_path%></li>
									<li> <%= link_to "Company", companies_path%></li>
									<li> <%= link_to "Employees", employees_path%></li>
									<li> <%= link_to "Products", my_products_path%></li>
									
										<li>
										<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"%>
										</li>
										<li>
										
											<a>Welcome <b><%=current_user.email.split("@")[0].capitalize%></b>
											(<%= current_user.roles.first.name.capitalize%>)
											</a>
											
										</li>

								</ul>
							</div>
						</div>
						<% elsif user_signed_in? && current_user.company == nil %>
							<div class="col-sm-10">
								<div class="shop-menu pull-right">
									<ul class="nav navbar-nav">
										
										<li>
										<%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"%>
										</li>
										<li>
										
											<a>Welcome <b><%=current_user.email.split("@")[0].capitalize%></b>
											(<%= current_user.roles.first.name%>)</a>
											
										</li>
									</ul>
								</div>
							</div>
						
					<%end%>

					<% if customer_signed_in? %>
						<div class="col-sm-10">
							<div class="shop-menu pull-right">
								<ul class="nav navbar-nav">
									<li> <%= link_to "Account", edit_customer_registration_path%></li>
									
									
										<li>
										<%= link_to "Logout", destroy_customer_session_path, method: :delete, class: "nav-link"%>
										</li>
										<li>
										
											<a>Welcome <b><%=current_customer.email.split("@")[0].capitalize%></b>
											
											</a>
											
										</li>

								</ul>
							</div>
						</div>
					<% elsif !customer_signed_in? && !user_signed_in? %>
							<div class="col-sm-10">
								<div class="shop-menu pull-right">
									<ul class="nav navbar-nav">
										<li> <%= link_to "Customer Sign In", new_customer_session_path%></li>
										<li> <%= link_to "Customer Register", new_customer_registration_path%></li>
										<li>	
											<div class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Vendor/Employee Login</b> <span class="caret"></span></a>
												<ul id="login-dp" class="dropdown-menu">
													
													<li> <%= link_to "Sign In", new_user_session_path%></li>
													<li><%= link_to "Join Us", new_user_registration_path%></li>
												</ul>
											</div>
										</li>		
									</ul>
								</div>
							</div>
					<%end%>
					
				
				</div>
				
			</div>
		
		</div><!--/header-middle-->
		
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="<%= root_path %>">Home</a></li>
								<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="<%= products_path %>">Products</a></li>
										 
										<li><a href="#">Checkout</a></li> 
										<li><a href="#">Cart</a></li> 
										 
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
										<li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li> 
								<li><%= link_to "Companies", companies_list_path, class: "nav-link"%></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4 pull-right">
						<div class="search_box pull-right">
							
							
							<%= form_tag(search_path, :method => "get", class: 'navbar-form navbar-left') do %>  
							<div class="input-group">  
								<%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control", required: true %>  
								<div class="input-group-btn">  
									<%= button_tag "Search", :class => 'btn btn-info',:name => nil%>  
								</div>  
							</div>  
						<% end %>
						
						<!--
						<%= form_tag(search_path, method: :get) do %>
							<div class="field">
								<%= text_field_tag :search, params[:search] %>
								<%= submit_tag "Search", name: nil %>
							
							</div>
						<%end%>
						-->
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->



