<h2 style="text-align: center">Employees</h2>
<%count = 0%>
<% if current_user.has_role?(:vendor)%>
  <div style="text-align: right;">
      <%= link_to 'Add Employee', new_user_invitation_path(current_user), class: "btn btn-success" %>
  </div>
<%end%>
<div style="text-align: right;">
    Total Employees: <b><%= current_user.invitees.count %></b>
</div>
<table class="table">
  <thead class="table-dark">
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Accepted</th>
  </thead>
  <% current_user.invitees.each do |user|%>
  <tbody>
    <tr>
      <th scope="row"><%=count += 1 %></th>
      <td><%= user.email.split("@")[0].capitalize %></td>
      <td><%= user.email %></td>
      <td><%= user.invitation_accepted?.to_s.capitalize%></td>
    </tr>
  </tbody>
  <%end%>

</table>

<br><br>
