<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<% @company.each do |comp| %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="well profile">
              <div class="col-sm-12">
                  <div class="col-xs-12 col-sm-8">
                      <h2><%= comp.name.upcase%></h2>
                      <% comp.description != nil ? des = comp.description.humanize : des = " " %>
                      <p><strong>Description: </strong> <%= des.humanize %> </p>
                      
                      <p><strong>Tags: </strong>
                          <span class="tags">Shopping</span> 
                          <span class="tags">E-Commerce</span>
                          
                      </p>
                  </div>             
                  <div class="col-xs-12 col-sm-4 text-center" style="display: inline-block;">
                      <figure>
                          <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                          <figcaption class="ratings">
                              <p>Ratings
                              <a>
                                  <span class="fa fa-star"></span>
                              </a>
                              <a >
                                  <span class="fa fa-star"></span>
                              </a>
                              <a >
                                  <span class="fa fa-star"></span>
                              </a>
                              <a >
                                  <span class="fa fa-star"></span>
                              </a>
                              <a >
                                  <span class="fa fa-star-o"></span>
                              </a> 
                              </p>
                          </figcaption>
                      </figure>
                       <% if can? :update, comp %>
                            <div style="display: inline-block;">
                                <%= link_to 'Edit Profile', edit_company_path(comp), class: "btn btn-warning" %> 
                            </div>
                        <%end%>
                      <% if can? :destroy, comp %>
                        <div style="display: inline-block;">
                          <%= link_to 'Delete', comp, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                        </div>
                      <%end%>
                  </div>
                  
              </div>   
              
              
                    
              <div class="col-xs-12 divider text-center">
                  <div class="col-xs-12 col-sm-4 emphasis">
                      <h2><strong> <%=comp.products.count - 1%>+</strong></h2> 
                      <br>              
                      <a class="btn btn-success btn-block" style="color:white;" href="<%=products_path%>"><span class="fa fa-plus-circle"></span> Products </a>
                  </div>
                  <div class="col-xs-12 col-sm-4 emphasis">
                      <h2><strong><%=comp.user.invitees.count - 1%>+</strong></h2>          
                      <br>          
                      <a class="btn btn-info btn-block" style="color:white;" href="<%=employees_path%>"><span class="fa fa-user"></span> Employees </a>
                  </div>
                  <div class="col-xs-12 col-sm-4 emphasis">
                      <h2><strong>1K+</strong></h2>                    
                      <br>
                      <button class="btn btn-warning btn-block"><span class="fa fa-user"></span> Reviews </button>
                        
                  </div>      
                      
              </div>
        
        </div>   
                     
      </div>
         
    </div>
  </div>
<%end%>

<br>