<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <% if can? :manage, @products.first%>
        <th>Sales</th>
      <%end%>
      <th colspan="5"></th>
      <th>Payment</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>

        
        
        <% if can? :manage, product%>
          <td><%=product.sales_count%></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Show', product %></td>
        <%end%>
        <td colspan="5"><%= button_to "Buy Now!", checkout_create_path, params: {id: product.id}, remote: true %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, @products.first%>
  <%= link_to 'New Product', new_product_path %>
<%end%>
